/*
 * Tailwind Preflight
 */

@tailwind preflight;



/*
 * Custom Styles
 */

html {
  font-size: 16px;
}

a {
  @apply .text-blue .no-underline;
}

svg {
  fill: currentColor;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content ul,
.content ol,
.content figure,
.content pre {
  line-height: inherit;
  @apply .mb-4;
}

.content a:hover,
.content a:focus,
.content a:active {
  @apply .border-b-2 .border-blue;
}

.clip {
  position: fixed !important;
  clip: rect(1px 1px 1px 1px);
}

.lazyload {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity .2s;
}

.uniform__potty {
  position: absolute;
  left: -9999px;
}



/*
 * Tailwind Utilities
 */

@tailwind utilities;



/*
 * Custom Utilities
 */
